{% extends "rag_app/base.html" %}

{% block title %}Search{% endblock %}

{% block content %}
<h1>Search The Vector DB</h1>

<form action="" method="post">
    <div class="form-group">
        {% csrf_token %}
        <label for="query">Enter your query:</label>
        <input class="form-control" type="text" id="query" name="query" placeholder="Enter your query" value="{{ query }}">
        <br>
        <label for="n_results">Number of Results:</label>
        <input class="form-control" type="number" id="n_results" name="n_results" value="{{ n_results|default:5 }}">
        <br>
        <input style="background-color: #4e90fe; font-size: 14px; font-weight: bold;" type="submit" value="Search">
    </div>
</form>

<br><br>

{% if submitted %}
{% if data %}
    <div class="results">
        <h2>Search Results</h2>
        {% for result in data %}
            <div class="result-item">
                <p><strong>Content:</strong> {{ result.content }}</p>
                <p><strong>File Name:</strong> {{ result.file_name }}</p>
                <p><strong>Chunk ID:</strong> {{ result.chunk_id }}</p>
                <p><strong>Distance:</strong> {{ result.distance }}</p>
            </div>
        {% endfor %}
    </div>
{% else %}
    <p>No results found or an error occurred during retrieval.</p>
{% endif %}
{% endif %}
{% endblock %}
